<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis,
        ducimus voluptates? Cumque facilis, rem, recusandae ratione nostrum
        saepe ex natus doloribus dignissimos voluptatem expedita minima. Velit
        quae dicta iste voluptatibus.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis,
        ducimus voluptates? Cumque facilis, rem, recusandae ratione nostrum
        saepe ex natus doloribus dignissimos voluptatem expedita minima. Velit
        quae dicta iste voluptatibus.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis,
        ducimus voluptates? Cumque facilis, rem, recusandae ratione nostrum
        saepe ex natus doloribus dignissimos voluptatem expedita minima. Velit
        quae dicta iste voluptatibus.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
