<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About us</h2>
      <p>
        Welcome to Blogs, a platform where you can share your thoughts, ideas,
        and experiences with the world. Our goal is to create a space where
        creativity thrives and meaningful connections are made through
        storytelling.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
